<!DOCTYPE html>
<html>
<head>
  <title>Admin Page</title>
  <style>
    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }

    .button-container a {
      display: inline-block;
      margin-right: 10px;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
</head>
<body>
<h1>Welcome to Admin Page</h1>
<div class="button-container">
  <a href="/admin/addAdmin">Yeni Admin Ekle</a>
  <a href="/admin/users">Kullanıcı Hesaplarına Eriş</a>
  <a href="/admin/addProduct">Yeni Ürün Ekle</a>
</div>
</body>
</html>
